
body{
    margin: 0;
    width: auto;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#404040;
    background-position: right;
    color: #ffffff;

}

.text-div {
    padding: 7rem 2.5rem 5rem 2.5rem;
    margin: auto;
    height: 55rem;
    width: auto;
    color: #FFFFFF;
    margin-left: 0;
    text-align: left;
    
}

.text-div #h3{
    
    font-size: 3rem;
    line-height: 2.5;
    text-align: center;
    
}

.text-div p{
    font-size: 1.7rem;
    font-family: 'Haettenschweiler';
    
}

.text-div span{
    color: black;
}